.footer {
    margin-top: 20px;
    background: #D21F2F;
    color: white;
    position: absolute;
    /* bottom: 0; */
    display: block;
}

body {
    min-height: 100%;
}

@media screen and (min-width: 1582px) {
 .footer {
     bottom: 0;
 }   
}