.wrongImage {
    color: #D21F2F;
    text-shadow: 2px 2px 0 #FFFF, 2px -2px 0 #FFFF, -2px 2px 0 #FFFF, -2px -2px 0 #FFFF, 2px 0px 0 #FFFF, 0px 2px 0 #FFFF, -2px 0px 0 #FFFF, 0px -2px 0 #FFFF, 2px 2px 2px rgba(255,255,255,0);
}

.correctImage {
    color: #bfb546;
}